<!doctype html>
<html>
    <head>
        <title>MMP Calculator</title>
        <link rel="stylesheet" type="text/css" href="bin/bulma.css">
        <link rel="stylesheet" type="text/css" href="src/styles.css">
        <script src="bin/vue.js"></script>
        <script src="bin/sortable.js"></script>
        <script src="bin/vue-draggable.js"></script>
        <script src="src/mmp.js"></script>
        <script src="src/main.js"></script>
    </head>

    <body>

    <section class="hero is-orange is-danger">
        <div class="hero-body">
            <div class="container">
            <h1 class="title">
                MMP Calculator
            </h1>
            <h2 class="subtitle">
                New Zealand General Election, 2017
            </h2>
            </div>
        </div>
    </section>

    <section class="section" id="vue">
    <div class="container is-fluid">
        <div class="columns is-mobile is-centered">    
        <div class="column is-half is-narrow">
            <div class="box">
                <h3 class="title is-3">Parties</h3>

                <div class="badge-row">
                    <div class="badge-unit" v-for="result in calculateSeats()">
                        <div>
                            {{result.badge.abbreviation}}
                        </div>
                        <div class="badge" v-bind:style="result.badge.style">
                            {{result.seats}}
                        </div>
                    </div>
                </div>
                
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Party</th>
                            <th class="has-text-right">2014</th>
                            <th class="has-text-right">2017</th>
                            <th class="has-text-right">Swing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="party in parties">
                            <td>
                                <div class="badge-unit">
                                    <span class="badge" v-bind:style="getBadge(party).style">
                                        {{getBadge(party).abbreviation}}
                                    </span>
                                </div>
                                {{party.name}}
                            </td>
                            <td class="has-text-right">{{party.previous}}</td>
                            <td class="has-text-right">                        
                                <div class="field">                    
                                    <div class="control has-text-right">
                                        <input 
                                            v-model.number="party.current" 
                                            class="input input-narrow has-text-right" 
                                            type="text"
                                        >
                                    </div>
                                </div>
                            </td>
                            <td class="has-text-right">{{getSwing(party.previous, party.current)}}</td>
                        </tr>
                        <tr>
                            <td></td> 
                            <td></td> 
                            <td class="has-text-right">
                                {{Math.round(parties.reduce((acc, x) => acc += x.current, 0) * 100) / 100}}
                            </td> 
                            <td></td> 
                        </tr>
                    </tbody>
                    <div class="" v-for="party in parties">
   
                    </div>
                </table>
            </div>
        </div>

        <div class="column is-half is-narrow">
            <div class="box">
                <h3 class="title is-3">Electorates</h3>

                <div class="badge-row">
                    <div class="badge-unit" v-for="total in getElectorateTotals()">
                        <div>
                            {{getBadge(total.party).abbreviation}}
                        </div>
                        <div class="badge" v-bind:style="getBadge(total.party).style">
                            {{total.seats}}
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input v-model="electorateSearch" class="input" type="text" placeholder="Search for an electorate...">
                    </div>
                </div>            
                <div v-for="(result, j) of electorateSearchResults" class="box">
                    <h5 class="title is-5">{{result.name}}</h5>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>Party</th> 
                                <th>Name</th> 
                                <th>2014</th> 
                                <th>2017</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(candidate, i) in result.candidates">
                                <td class="is-clipped is-nowrap">
                                    <div class="badge-unit">
                                        <span class="badge" v-bind:style="getBadge(candidate.party, true).style">
                                            {{getBadge(candidate.party).abbreviation}}
                                        </span>
                                    </div>
                                    {{candidate.party.name || candidate.party}}
                                </td>
                                <td>{{candidate.name}}</td>
                                <td>        
                                    <input 
                                        disabled
                                        v-model="result.previous"
                                        v-bind:value="candidate"
                                        v-bind:id="candidate.name + '2014'" 
                                        class="checkbox" 
                                        v-bind:name="'2014-' + i + '-' + j" 
                                        type="radio"
                                    >
                                    <label v-bind:for="candidate.name + '2014'" class="checkbox-label"></label>
                                </td>
                                <td>        
                                    <input 
                                        v-model="result.current"
                                        v-bind:value="candidate"
                                        v-bind:id="candidate.name + ' 2017'" 
                                        class="checkbox" 
                                        v-bind:name="'2017-' + i + '-' + j" 
                                        type="radio"
                                    >
                                    <label v-bind:for="candidate.name + ' 2017'" class="checkbox-label"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <button class="button is-danger" v-on:click="resetData()">Reset</button>
        <button class="button is-info" v-on:click="loadData()">Load</button>
        <button class="button is-success" v-on:click="saveData()">Save</button>
    </div>
    </section>
    </body>

</html>