.is-orange {
    background-color: #f89828 !important;
}

.is-nowrap {
    white-space: nowrap;
}

.input-narrow {
    width: 100px;
}

.table td {
    vertical-align: middle;    
}

.badge {
    border-radius: 50%;
    display: inline-block;
    box-sizing: initial;

    text-align: center;
    vertical-align: middle;

    line-height: 30px;  
    width: 30px;
    height: 30px;
    padding: 4px;
    
    font-size: 0.8em;
}

.badge-unit {
    margin-right: 0.7em;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .party-name>.badge-unit {
        margin-right: 0em;
    }    
}
    

.badge-row {
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox, .checkbox-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-label {
    position: relative;
    vertical-align: middle;
}

.checkbox + .checkbox-label:before {
    content: '';
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox:checked + .checkbox-label:before {
    content: "✔";
    color: #4a4a4a;
    vertical-align: middle;
    line-height: 14px;
    font-weight: bold;
}

.checkbox:disabled + .checkbox-label:before {
    background-color: #dbdbdb;
}